<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.atpeople.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <!--服务线程弹窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:name=".AppStart"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoTitle">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity"></activity>
        <activity android:name=".ui.circularprogressview.CircularProgressView"></activity>
        <activity android:name=".ui.slidinguppanel.SlidingUpPanel"></activity>
        <activity android:name=".ui.foldingmenu.FoldingMenu"></activity>
        <activity android:name=".ui.carview.Carview"></activity>
        <activity android:name=".atpeople.AitPeople"></activity>
        <activity android:name=".ui.chip.ChipView"></activity>
        <activity
            android:name=".ui.ActivityAlert"
            android:theme="@style/MyToolsAddAvatar" />
        <activity android:name=".ui.canvas.CanvasView"></activity>
        <activity android:name=".ui.camera.SmartsCamera"></activity>
        <activity android:name=".ui.cardrecognition.CardRecognition"></activity>
        <activity android:name=".ui.chart.MPAndroidChart"></activity>
        <activity android:name=".ui.notify.Notify"></activity>
        <activity android:name=".ui.notify.OtherActivity"></activity>
        <activity android:name=".ui.webview.WebView"></activity>
    </application>

</manifest>