<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.atpeople.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <!--服务线程弹窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name=".AppStart"
        android:allowBackup="true"
        android:icon="@mipmap/logo_192"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity"></activity>
        <activity android:name=".main.UiActivity"></activity>
        <activity android:name=".main.RxBingdingActivity"></activity>
        <activity android:name=".main.NetworkRequestActivity"></activity>
        <activity android:name=".ui.circularProgressView.CircularProgressView"></activity>
        <activity android:name=".ui.slidinGupPanel.SlidingUpPanel"></activity>
        <activity android:name=".ui.foldingMenu.FoldingMenu"></activity>
        <activity android:name=".ui.carView.Carview"></activity>
        <activity android:name=".atPeople.AitPeople"></activity>
        <activity android:name=".ui.chip.ChipView"></activity>
        <activity android:name=".ui.ActivityAlert"
            android:theme="@style/MyToolsAddAvatar" />
        <activity android:name=".ui.canvas.CanvasView"></activity>
        <activity android:name=".ui.camera.SmartsCamera"></activity>
        <activity android:name=".ui.cardRecognition.CardRecognition"></activity>
        <activity android:name=".ui.chart.MPAndroidChart"></activity>
        <activity android:name=".ui.notify.Notify"></activity>
        <activity android:name=".ui.notify.OtherActivity"></activity>
        <activity android:name=".ui.webView.WebView"></activity>
        <activity android:name=".ui.betterSpinner.Spinner"></activity>
        <activity android:name=".ui.userInfo.UserInfo"></activity>
        <activity android:name=".ui.textAnimation.TextAnimation"></activity>
        <activity android:name=".ui.launchWithVideo.LaunchWithVideo"></activity>
        <activity android:name=".ui.search.SearchActivity"></activity>
        <activity android:name=".rxbinding.Login"></activity>
        <activity android:name=".rxbinding.click.ClickForAdapter"></activity>
        <activity android:name=".networkRequest.NormalRequest"></activity>
        <activity android:name=".ui.gesturepsw.GesturePswActivity"></activity>
        <activity android:name=".ui.table.Table"></activity>
        <activity android:name=".ui.dragLayout.YoutubeActivity"></activity>
        <activity android:name=".main.UseBaseActivity"></activity>
        <activity android:name=".ui.mediaPlayBySeekbar.MediaPlayBySeekbar"></activity>
        <activity android:name=".ui.paymentCode.PaymentCode"></activity>
    </application>

</manifest>